*{
  list-style: none;
  text-decoration: none;
  background-color: black;
  color: white;
}


.container {
 padding: 20px;
}

.heading {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}



.sr-no,
.title,
.artist,
.album,
.duration,
.download {
  flex: 1;
  text-align: center;
}

.track-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.row.heading .sr-no {
  visibility: hidden;
}

.track-image {
  margin-right: 10px;
}
.track-image img{
  width: 40px;
  height: 40px;
}

.track-name span {
  font-weight: bold;
}

.album-div {
  display: flex;
  align-items: center;
}

.album-div div:first-child {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-sharp,
.fa-regular,
.fa-solid {
  font-size: 16px;
  margin-right: 5px;
}

.fa-ellipsis-vertical {
  color: gray;
}

.fa-heart {
  color: red;
}

/* Additional styles to customize as per your requirements */
