@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,700&display=swap');

/* set default margin and padding  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
    position: sticky;
    width: 100%;
    z-index: 2;
    top: 0;
}

/* Google Font Poppins */
body {
  font-family: 'Poppins', 'sans-serif';
  font-weight: 800;
}

#wrapper{
  background-color: #000;
  padding: 20px;
  scroll-behavior: smooth;
}
/* header {
  position: fixed;
  z-index: 2;
  width: 100%;
} */

:root{
  --text-color:#e51d53;
}

/* Nav bar CSS start from here */
#nav1,
#nav2 {
  display: flex;
  background-color: #333;
}

#nav1 {
  height: 5rem;
  position: relative;
  width: 100%;
  display: flex;
  background-color:#000;
  justify-content: flex-start;
}

#left-nav {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}
/* Website logo CSS */
.header-logo{
  border-radius: 10px;
  margin-right: 10px;
}
/* Website Name CSS  */
.title h1 {
  margin: 0;
  color: var(--text-color);
  font-family: 'Teko', sans-serif;
  font-size: 3rem;
  margin-top: 1rem;
  text-transform: uppercase;
  animation: glow 1.4s ease-in-out infinite alternate;
  text-align: center;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px var(--text-color);
  }
  to {
    text-shadow: 0 0 35px #d72051, 0 0 10px var(--text-color);
  }
}

#right-nav {
  display: flex;
  justify-content: flex-start;
  padding-left: 100px;
  width: 70%;
  height: 100%;
  padding-top: 20px;
}
/* Search bar CSS start from here */
#search-bar {
  width: 60%;
}

.search-icon {
  top: 13px;
  left: 8px;
  position: absolute;
}

input.search-input {
  width: 85%;
  height: 40px;
  background-color: #444;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 30px;
}
.microphone{
  position: absolute;
  color: var(--text-color);
  top: 10%;
  left: 80%;
}
#right-nav>div {
  position: relative;
}
.user{
  width: 35%;
  margin-right: 45px;
  display: flex;
  justify-content: flex-end;

}
.user img{
 height: 2.5rem;
 width: 2.5rem;
 border-radius: 50%;

}
.user i{
  margin-top: 10px;
  margin-left: 5px;
  color: #fff;
}

ul.nav-menu li {
  list-style: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-underline-offset: 20px;
  text-decoration: none;
}
#nav2 .active{
  background-color: #000;
}

li a:hover {
  background-color: #111;
  border-bottom: 2px solid var(--text-color);
}

#content-section {
  width: 74%;
  height: auto;
  display: inline-block;
  box-shadow: 4px 0px 13px 9px #132450;
background-color: #0b142d;
}

 
/*  Carousel CSS start from here ----------------------------------------------------------------------- */
/* Slider CSS */
#slider {
  height: 425px;
  margin: 0;
  display: grid;
  grid-template-rows: 300px 0px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

/*Arrow CSS start */
#arrow {
  width: 73%;
  display: flex;
  height: 400px;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  position: absolute;

}

#left-arrow,
#right-arrow {
  width: 4rem;
  height: 4rem;
  z-index: 1;
}

#left-arrow i,
#right-arrow i {
  color: #fff;
  cursor: pointer;
  z-index: 2;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

div#left-arrow i {
  margin-left: 2rem;
}

div#left-arrow i:hover {
  color: #bc0f0f;
}

#right-arrow i:hover {
  color: #bc0f0f;
}
/* Arrow CSS end */

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 500px;
  height: 200px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
}

div.item:nth-of-type(2) {
  --offset: 2;
}

div.item:nth-of-type(3) {
  --offset: 3;
}

div.item:nth-of-type(4) {
  --offset: 4;
}

div.item:nth-of-type(5) {
  --offset: 5;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input:nth-of-type(1):checked~main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

input:nth-of-type(2):checked~main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}

input:nth-of-type(3):checked~main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

input:nth-of-type(4):checked~main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

input:nth-of-type(5):checked~main#carousel {
  --position: 5;
}
 /* Carousel Image CSS */
#carousel img {
  height: 60vh;
  width: 35vw;
}
/* Carousel CSS End here --------------------------------------------------------------------- */

 
 /* Songs cards slider section CSS Start from here ----------------------------------------------- */
.songs-section {
  margin: 50px 0px;
}

.section-heading {
  margin-top: 20px;
  font-size: 1rem;
  font-family:proximanova-semibold-webfont, Arial, sans-serif;
  color: #efeeee;
  display: flex;
  padding-left: 2rem;
  /* background-color: wheat; */
  justify-content: space-between;
  text-transform: capitalize;
}
.section-heading h2:hover{
  text-decoration: underline var(--text-color);
}
.show-all{
  color: #ffffff;
  font-size: 1rem;
  margin: 25px 12px 0px 0px;
}
.show-all a {
  color: #fff;
  text-decoration: none;
}
.show-all a:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.songs-contnt {
  /* background-color: aqua; */
  display: flex;
  padding: 0px 16px 16px 16px;
  flex-direction: row;
  overflow: hidden;
}

.song-card {
  /* background-color: greenyellow; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  width: 20%;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 10px;
  
}
.song-card:hover{
  transform: scale(1.1);
  box-shadow:  1px -1px 10px 10px rgb(17 39 110 / 50%);
  transition:.5s ease-in-out;
}

.song-card img:hover {
    transition: all 0.5s ease-in-out;
    opacity: 0.6;
}

.img-contnt {
  position: relative;
  height: 160px;
  width: 160px;
  border-radius: 6px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  
}

.overlay{
  background-image: linear-gradient(0deg,#0b0d0f,rgba(11,13,15,.35));
  opacity: 0;
  height: 100%;
  width: 100%;
}
.overlay:hover{
opacity: 1;
}
.overlay #play-hover{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  color:var(--text-color);
  font-size: 2rem;
}
.overlay #share-hover{
  position: absolute;
  color: #fff;
  top: 86%;
  left: 8%;
  font-size: 1rem;
}

  .overlay #more-hover{
    position: absolute;
  color: #fff;
  top:86%;
  left: 86%;
  font-size: 1rem;
  }

  .song-name {
    color: #fff;
    width: 100%;
    margin-top: 6px;
    font-family: proximanova-semibold-webfont,Arial,sans-serif;
    font-size: 14px;
    line-height: 2;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* ----------------------------------------------------------------------------------------- */


/* Side playlist queue CSS start from here --------------------------------------------------------*/
/* Scroll bar CSS start ---------*/
/* width */
#side-queue::-webkit-scrollbar {
  width: 8px;
}

/* Track */
#side-queue::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d60f44; 
  border-radius: 10px;
}
 
/* Handle */
#side-queue::-webkit-scrollbar-thumb {
  background:var(--text-color); 
  border-radius: 10px;
}

/* Handle on hover */
#side-queue::-webkit-scrollbar-thumb:hover {
  background: #444; 
}
/* Scroll bar CSS end ---------*/
#side-queue {
  width: 24%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  float: right;
  overflow: auto;
  color: #fff;
  box-shadow: -2px 2px 14px 10px hsl(223, 60%, 16%);
  background-color: #070f24;;
}

.playlist-heading h1 {
  font-size: 24px;
  margin: 15px 0px 0px 20px;
  font-weight: 500;
  font-family: proximanova-bold-webfont,Arial,sans-serif;
  text-decoration: solid;
  color: var(--text-color);
}

#side-queue .play-list {
  margin: 40px 0px 0px 20px;
}

#side-queue .play-list h4 {
  font-size: 14px;
  font-weight: 900;
  color: #a9a9ad;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition:.3s linear;
}

.play-list  .active {
  background-color: #2d3044;
}
.play-list .active span {
  color: var(--text-color);
}

#side-queue .play-list h4:hover {
  color: var(--text-color);
}

.fa-music {
  margin-right: 20px;
}

/* Side Queue song list CSS Start*/

.song-list {
  width: 100%;
  margin-top: 40px;
}
.songItem{
  display: flex;

  height: 2.5rem;
  width: 100%;
}
.sidePlay-list{
  position: relative;
  width: 70%;
  display: flex;
}
.sidePlay-icon{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.song-list li {
  list-style: none;
  position: relative;
  padding: 5px 0px 5px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .3s linear;
}

.song-list li:hover {
  background-color: #444;
}
.song-list li:hover #list-number{
 opacity: 0;
}
.song-list li span {
  font-size: 14px;
  font-weight: 600;
  color: #8b8d91;
}

.song-list li img {
  width: 32px;
  height: 32px;
  margin-left: 25px;
}

.song-list li h5 {
  font-size: 11px;
  margin-left: 15px;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-list li h5 .subtitle {
  font-size: 11px;
  color: #98999d;
}

.song-list li h5 i{
 position: absolute;
 right: 25px; 
}
/* Side Queue Song list CSS end */
/* ----------------------------------------------------------------------------------------- */

/* Side Queue Animation CSS start  */
aside .master-play{ 
  display: flex;
  align-items: center;
  }
  .sidePlay-list:hover .wave{
    display: flex;
  }

 /*side playlist  Wave CSS styling start from here */
  aside .master-play .wave{
    position: absolute;
    bottom: 5px;
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    display: none;
  }
  
  aside .master-play .wave .wave1{
    width: 4px;
    height: 10px;
    background: var(--text-color);
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: wave .3s linear infinite;
  }
  aside .master-play .wave .wave1:nth-child(2){
    height: 7px;
    margin-right: 3.5;
    animation-delay: .4s;
  }
  
  aside .master-play .wave .wave1:nth-child(3){
    height: 8px;
    animation-delay: .8s;
  }

  @keyframes wave{
    0%{
        height: 7px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 5px;
    }
  }
  
 /* side playlist Waves Animation end  here */

 /* side playlist Wave CSS styling end here */
/* --------------------------------------------------------------------------------------------- */


/* Media control CSS start from here --------------------------------------------------------------------*/
footer #audio-icon img{
  width: 16px;
  height: 16px;
  filter: brightness(0) invert(1);
}
  #media-controls{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;   
  background-color: #333;
  height: 5rem;
}

.slider-up i{
  color: #fff;
}
.maximize i{
  color: #fff;
}
footer .master-play{
display: flex  ;
width: 100%;
justify-content: space-between;
align-items: center;
padding: 0px 20px;  
}

footer .master-play .wave{
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

footer .master-play .wave .wave1{
  width: 4px;
  height: 10px;
  background: var(--text-color);
  margin-right: 3px;
  border-radius: 10px 10px 0px 0px;
  animation: wave .3s linear infinite;
}
footer .master-play .wave .wave1:nth-child(2){
  height: 7px;
  margin-right: 3.5;
  animation-delay: .4s;
}

footer .master-play .wave .wave1:nth-child(3){
  height: 8px;
  animation-delay: .8s;
}

@keyframes wave{
  0%{
      height: 10px;
  }
  50%{
      height: 15px;
  }
  100%{
      height: 10px;
  }
}

footer .master-play img{
  width: 45px;
  height: 45px;
  border-radius: 6px;
}
footer .master-play h5{
  width: 130px;
  margin-left: 10px;
  color:#ffff;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}
footer .master-play h5 .subtitle{
  font-size: 11px;
  color: rgb(200, 202, 192);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

footer .master-play .masterplay-icon{
  font-size: 16px;
  color:#fff;
  margin: 0px 20px 0px 40px;
  outline: none;
  display: flex;
  align-items: center;
}
.masterplay-icon .fa-solid {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
}

footer .master-play .masterplay-icon .fa-solid{
  cursor: pointer;
  outline: none;
}


footer .master-play .masterplay-icon i:nth-child(3){
 margin: 0px 5px;
 font-size: 2rem;
 
}
  footer .master-play span{
    color:bisque;
    width: 32px;
    font-size: 14px;
    font-weight: 400;
  }

footer .master-play #current-start{
  margin: 0px 0px 0px 30px;
}
footer .master-play .seek-bar{
  position: relative;
  width:43%;
  height: 2px;
  background:#c9c9d2c4;
  margin: 0px 15px 0px 10px;
}
footer .master-play .seek-bar .seek-bar2{
  position: absolute;
  background: var(--text-color);
  width: 70%;
  height: 100%;
  top: 0px;
  transition: 1s linear;
}
footer .master-play .seek-bar .dot{
position: absolute;
width: 5px;
height: 5px;
background: var(--text-color);
border-radius: 50%;
left: 70%;
top: -1.5px;  
transition: 1s linear;
}
footer .master-play .seek-bar .dot::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  top: -6px;
  left:-7px;
  box-shadow: inset 0px 0px 3px var(--text-color);
}
footer .master-play .seek-bar input{
  position:absolute;
  width: 100%;
  top:-7px;
  left: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}
footer .master-play .vol{
  position: relative;
  width: 100px;
  height: 2px;
  background: #c9c9d2c4;
  margin-left: 50px;
}

footer .master-play .vol .fa-solid{
  position: absolute;
  color: #fff;
  font-size: 20px;
  top:-10px;
  left: -30px;
}
footer .master-play .vol input{
  position: absolute;
  width: 100%;
  top: -10px;
  left: 0;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
}
footer .master-play .vol .vol-bar{
  position: absolute;
  background: var(--text-color);
  width: 40%;
  height: 100%;
  top:0px;
  transition: 1s linear;
}

footer .master-play .vol .dot{
  position: absolute;
width: 5px;
height: 5px;
background:var(--text-color);
border-radius: 50%;
left: 40%;
top: -1.5px;  
transition: 1s linear;  
}

footer .master-play .vol .dot::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  top: -6px;
  left:-7px;
  box-shadow: inset 0px 0px 3px var(--text-color);
}
.song-play{
  width: 10%;
  display:flex;
  align-items: center;
}
footer .audio-control1{
  width: 100%; 
  display: flex;
  margin-right: -10%;
   flex-direction: column;
    align-items: center;
}
footer .audio-icon{
  display: flex; 
  width: 100%; 
  align-items: center;
   justify-content: center;
}

.audio-control2{
  width: 30%; 
  display: flex;
   /* flex-direction: column; */
   justify-content: space-around;
    align-items: center;
    
}
.slider-up {
  margin-left: 40%;
}


/* Media control styling end here */