@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,700&display=swap");

/* set default margin and padding  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Google Font Poppins */
body {
  font-family: "Poppins", "sans-serif";
  font-weight: 800;
}

#wrapper {
  background-color: #000;
  padding: 1.3rem;
  scroll-behavior: smooth;
}

/* Scroll bar CSS start ---------*/
::-webkit-scrollbar {
  width: 8px;
  height: 1.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #444;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
/* Scroll bar CSS start ---------*/

header {
  position: sticky;
  width: 100%;
  z-index: 2;
  top: 0;
}

:root {
  --text-color: #e51d53;
}

/* Nav bar CSS start from here */
#nav1,
#nav2 {
  /* display: flex; */
  background-color: #333;
}

/* .nav-toggle i{
  display: none;
}
#nav-menu-responsive{
  display: none;  
} */

#nav1 {
  height: 5rem;
  position: relative;
  width: 100%;
  display: flex;
  background-color: #000;
  justify-content: flex-start;
}

#left-nav {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* Website logo CSS */
.header-logo {
  border-radius: 10px;
  margin-right: 10px;
  height: 5rem;
  width: 6.25rem;
}

/* Website Name CSS  */
.title a {
  text-decoration: none;
}
.title h1 {
  margin: 0;
  color: var(--text-color);
  font-family: "Teko", sans-serif;
  font-size: 3rem;
  margin-top: 1rem;
  text-transform: uppercase;
  animation: glow 1.4s ease-in-out infinite alternate;
  text-align: center;
}

@keyframes glow {
  from {
    text-shadow: 0 0 1.3rem var(--text-color);
  }
  to {
    text-shadow: 0 0 2.2rem #d72051, 0 0 10px var(--text-color);
  }
}

#right-nav {
  display: flex;
  justify-content: flex-start;
  padding-left: 6.25rem;
  width: 70%;
  height: 100%;
  padding-top: 1.25rem;
}
/* Search bar CSS start from here */
#search-bar {
  width: 60%;
}

.search-icon {
  top: 13px;
  left: 8px;
  position: absolute;
  width:1rem;
  height:1rem;
}

input.search-input {
  width: 85%;
  height: 2.5rem;
  background-color: #444;
  border-radius: 1.25rem;
  border: none;
  outline: none;
  padding-left: 1.8rem;
}
.microphone {
  position: absolute;
  color: var(--text-color);
  top: 10%;
  left: 80%;
}
#right-nav > div {
  position: relative;
}
/* Button CSS start */
button {
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 0.8rem;
  width: 7rem;
  height: 2rem;
  text-align: center;
}
.subscription .btn {
  color: #ffffff;
  background: linear-gradient(-60deg, #14688b, #132450, #ff3d77, #e51d53);
  background-size: 600%;
  animation: anime 4s linear infinite;
}
@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
button.btn {
  margin-right: 2rem;
}
.user {
  width: 35%;
  margin-right: 2.8rem;
  display: flex;
  justify-content: flex-end;
}
.user .fa-bell {
  margin-right: 0.6rem;
  font-size: 1.2rem;
  margin-top: 0.4rem;
  color: #e51d53;
  animation-name: bell-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes bell-animation{
  0% {
    transform: rotate(0deg);
}
50% {
    transform: rotateY(360deg);
}
0% {
    transform: scale(1.2);
}
25% {
    transform: scale(1);
}
50% {
    transform: scale(1.2);
}
75% {
    transform: scale(1);
}
100% {
    transform: scale(1.2);
}
}
.user img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.user i {
  margin-top: 0.4rem;
  margin-left: 5px;
  color: #fff;
  font-size: 1.3rem;
}
#nav2{
  overflow: hidden;
  height: 3rem;
}

#nav2 #nav-menu li{
  display: inline-block;
  list-style: none;
  line-height: 3rem;
} 
#nav2 #nav-menu li a {
  color: var(--text-color);
  text-align: center;
  padding: 0.8rem 1rem;
  text-underline-offset: 0.7rem;
  text-decoration: none;
}
#nav2 .active {
  background-color: #000;
}

#nav-menu li a:hover {
  background-color: #111;
  transition: .6s;
  text-decoration: underline !important;
}

.check-btn{
  float: right;
  color: var(--text-color);
  line-height: 100%;
  font-size: 2rem;
  margin-right: 1.5rem;
  cursor: pointer;
  display: none;
}

#check{
display: none;
}
/* Header part CSS End here ----------------------------- */

/* Main Section start from here----------------------------------------- */

#content-section {
  width: 74%;
  height: auto;
  display: inline-block;
  box-shadow: 4px 0px 13px 9px #132450;
  background-color: #0b142d;
  margin-bottom: 4.4rem;
}

/*  Carousel CSS start from here ----------------------------------------------------------------------- */
/* Slider CSS */
#slider {
  height: 26.5rem;
  margin: 0;
  display: grid;
  grid-template-rows: 18.75rem 0;
  grid-template-columns: 1fr 1.87rem 1.87rem 1.87rem 1.87rem 1.87rem 1fr;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

/*Arrow CSS start */
#arrow {
  width: 73%;
  display: flex;
  height: 25rem;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

#left-arrow,
#right-arrow {
  width: 4rem;
  height: 4rem;
  z-index: 1;
}

#left-arrow i,
#right-arrow i {
  color: #fff;
  cursor: pointer;
  z-index: 2;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

div#left-arrow i {
  margin-left: 2rem;
}

div#left-arrow i:hover {
  color: var(--text-color);
}

#right-arrow i:hover {
  color: var(--text-color);
}
/* Arrow CSS end */

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 31.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 37.5rem;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 31.25rem;
  height: 12.5rem;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
}

div.item:nth-of-type(2) {
  --offset: 2;
}

div.item:nth-of-type(3) {
  --offset: 3;
}

div.item:nth-of-type(4) {
  --offset: 4;
}

div.item:nth-of-type(5) {
  --offset: 5;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}

input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}
/* Carousel Image CSS */
#carousel img {
  height: 60vh;
  width: 35vw;
}
/* Carousel CSS End here --------------------------------------------------------------------- */

/* Songs cards slider section CSS Start from here ----------------------------------------------- */
.songs-sections {
  margin: 3.75rem 0;
}

/* Arrow Styling in Song Section start here */
section.songs-sections {
  position: relative;
}
section.songs-sections #arrow-left,
#arrow-right {
  cursor: pointer;
  position: absolute;
  font-size: 2.5rem;
  color: white;
  opacity: 0;
}
section.songs-sections:hover #arrow-left {
  color: #fff;
  opacity: 0.5;
  z-index: 2;
  opacity: 1;
  cursor: pointer;
  font-size: 2.5rem;
}

section.songs-sections #arrow-left:hover {
  color: var(--text-color);
}
section.songs-sections:hover #arrow-right {
  color: #fff;
  opacity: 0.5;
  z-index: 2;
  opacity: 1;
  cursor: pointer;
  font-size: 2.5rem;
 
}
section.songs-sections #arrow-right:hover {
  color: var(--text-color);
}

div#arrow-left {
  top: 40%;
}

div#arrow-right {
  left: 97%;
  top: 40%;
}
/* Arrow Styling in Song Section end here */

.section-heading {
  margin-top: 1.3rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-family: proximanova-semibold-webfont, Arial, sans-serif;
  color: #efeeee;
  display: flex;
  /* background-color: wheat; */
  padding-left: 2rem;
  justify-content: space-between;
  text-transform: capitalize;
}
.section-heading h2:hover {
  text-decoration: underline var(--text-color);
}
.show-all {
  color: #ffffff;
  font-size: 0.8rem;
  margin: 1.5rem 0.7rem 0 0;
}
.show-all a {
  color: #fff;
  text-decoration: none;
}
.show-all a:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.songs-contnt {
  /* background-color: aqua; */
  display: flex;
  padding: 0px 1rem 1rem 1rem;
  flex-direction: row;
  overflow: hidden;
  margin-top: 0.8rem;
}

.song-card {
  /* background-color: greenyellow; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  margin-top: 1rem;
  padding: 0 0.8rem;
  flex-direction: column;
  margin-right: 10px;
}
.song-card:hover {
  transform: scale(1.1);

  transition: 0.5s ease-in-out;
}

.song-card img:hover {
  transition: all 0.5s ease-in-out;
  opacity: 0.6;
}

.img-contnt {
  position: relative;
  height: 10rem;
  width: 10rem;
  border-radius: 6px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
}
.img-contnt:hover {
  box-shadow: 1px -1px 5px 5px rgb(17 39 110 / 50%);
}

.overlay {
  background-image: linear-gradient(0deg, #0b0d0f, rgba(11, 13, 15, 0.35));
  opacity: 0;
  height: 100%;
  width: 100%;
}
.overlay:hover {
  opacity: 1;
}
.overlay #play-hover {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: var(--text-color);
  font-size: 2rem;
}
.overlay #share-hover {
  position: absolute;
  color: #fff;
  top: 86%;
  left: 8%;
  font-size: 1rem;
}

.overlay #more-hover {
  position: absolute;
  color: #fff;
  top: 86%;
  left: 86%;
  font-size: 1rem;
}

.song-name {
  color: #fff;
  width: 85%;
  margin-top: 6px;
  font-family: proximanova-semibold-webfont, Arial, sans-serif;
  font-size: 0.8rem;
  line-height: 2;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.song-name:hover {
  text-decoration: underline;
}

/* Artist section CSS start  */
div#artist-image .img-contnt {
  border-radius: 50%;
}
/* Artist section CSS end  */

/* ----------------------------------------------------------------------------------------- */

/* Side playlist queue CSS start from here --------------------------------------------------------*/

/* Scroll bar CSS start ---------*/
#side-queue::-webkit-scrollbar {
  display: none;
}

/* Scroll bar CSS end ---------*/

#side-queue {
  width: 24%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  float: right;
  overflow: auto;
  color: #fff;
  box-shadow: -2px 2px 14px 10px hsl(223, 60%, 16%);
  background-color: #070f24;
}

.playlist-heading h1 {
  font-size: 1.5rem;
  margin: 0.9rem 0 0 1.25rem;
  font-weight: 500;
  font-family: proximanova-bold-webfont, Arial, sans-serif;
  text-decoration: solid;
  color: var(--text-color);
}

#side-queue .play-list {
  margin: 40px 0px 0px 20px;
}

#side-queue .play-list h4 {
  font-size: 0.8rem;
  font-weight: 900;
  color: #a9a9ad;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s linear;
}

.play-list .active {
  background-color: #2d3044;
}
.play-list .active span {
  color: var(--text-color);
}

#side-queue .play-list h4:hover {
  color: var(--text-color);
}

.fa-music {
  margin-right: 1.25rem;
}

/* Side Queue song list CSS Start*/

.song-list {
  width: 100%;
  margin-top: 2.5rem;
}
.songItem {
  display: flex;

  height: 2.5rem;
  width: 100%;
}
.sidePlay-list {
  position: relative;
  width: 70%;
  display: flex;
}
.sidePlay-icon {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.song-list li {
  list-style: none;
  position: relative;
  padding: 5px 0px 5px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s linear;
}

.song-list li:hover {
  background-color: #444;
}
.song-list li #list-number {
  opacity: 0;
}
.song-list li span {
  font-size: 0.8rem;
  font-weight: 600;
  color: #8b8d91;
}

.song-list li img {
  width: 2rem;
  height: 2rem;
  margin-left: 25px;
}

.song-list li h5 {
  font-size: 11px;
  margin-left: 0.9rem;
  width: 10.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-list li h5 .subtitle {
  font-size: 11px;
  color: #98999d;
}

.song-list li h5 i {
  position: absolute;
  right: 1.5rem;
}
/* Side Queue Song list CSS end */
/* ----------------------------------------------------------------------------------------- */

/* Side Queue Animation CSS start  */
aside .master-play {
  display: flex;
  align-items: center;
}
.active-play .master-play .wave {
  opacity: 1;
}
.sidePlay-icon.active-play i {
  color: var(--text-color);
}

/*side playlist  Wave CSS styling start from here */
aside .master-play .wave {
  position: absolute;
  bottom: 5px;
  width: 1.87rem;
  height: 1.87rem;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
  opacity: 0;
}

aside .master-play .wave .wave1 {
  width: 4px;
  height: 10px;
  background: var(--text-color);
  margin-right: 3px;
  border-radius: 10px 10px 0px 0px;
  animation: wave 0.3s linear infinite;
}
aside .master-play .wave .wave1:nth-child(2) {
  height: 7px;
  margin-right: 3.5;
  animation-delay: 0.4s;
}

aside .master-play .wave .wave1:nth-child(3) {
  height: 8px;
  animation-delay: 0.8s;
}

@keyframes wave {
  0% {
    height: 7px;
  }
  50% {
    height: 15px;
  }
  100% {
    height: 5px;
  }
}

/* side playlist Waves Animation end  here */
label[for="more"] {
  display: none;
  position: absolute;
  right: 0%;
  top: 45%;
  padding-bottom: 5px;
  z-index: 4;
  color: var(--text-color);
  font-size: 1.6rem;
  height: 2.5rem;
  width: 7rem;
  text-align: center;
  box-shadow: 0px 0px 2px 1px white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 36%,
    rgba(0, 212, 255, 1) 100%
  );
}
input[type="checkbox"] {
  display: none;
}
/* side playlist Wave CSS styling end here */
/* --------------------------------------------------------------------------------------------- */

/* Media control CSS start from here --------------------------------------------------------------------*/
.footer #audio-icon img {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 6px;
  filter: brightness(0) invert(1);
}
.footer #connectDevice-icon img {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 6px;
  filter: brightness(0) invert(1);
}
#media-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  height: 5rem;
}

.slider-up i {
  color: #fff;
}
.maximize i {
  color: #fff;
}
.footer .master-play {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
}

.footer .master-play .wave {
  width: 1.87rem;
  height: 1.87rem;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

.footer .master-play .wave .wave1 {
  width: 4px;
  height: 10px;
  background: var(--text-color);
  margin-right: 3px;
  border-radius: 10px 10px 0px 0px;
  animation: wave 0.3s linear infinite;
}
.footer .master-play .wave .wave1:nth-child(2) {
  height: 7px;
  margin-right: 3.5;
  animation-delay: 0.4s;
}

.footer .master-play .wave .wave1:nth-child(3) {
  height: 8px;
  animation-delay: 0.8s;
}

@keyframes wave {
  0% {
    height: 10px;
  }
  50% {
    height: 15px;
  }
  100% {
    height: 10px;
  }
}

.footer .master-play img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 6px;
}
.footer .master-play h5 {
  width: 8.12rem;
  margin-left: 8px;
  color: #ffff;
  line-height: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}
.footer .master-play h5 .subtitle {
  font-size: 11px;
  color: rgb(200, 202, 192);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer .master-play .masterplay-icon {
  font-size: 1rem;
  color: #fff;
  margin: 0 1.25rem 0 2.5rem;
  outline: none;
  display: flex;
  align-items: center;
}
.masterplay-icon .fa-solid {
  margin: 10px;
  padding: 5px;
  font-size: 1rem;
}

.footer .master-play .masterplay-icon .fa-solid {
  cursor: pointer;
  outline: none;
}

.footer .master-play .masterplay-icon .fa-circle-pause {
  margin: 0px 5px;
  color: var(--text-color);
  font-size: 2rem;
}
.footer .master-play span {
  color: #fff;
  width: 2rem;
  font-size: 0.8rem;
  font-weight: 400;
}


 /* Seek bar CSS start------------------------------ */
/* === range theme and appearance === */
.seek-bar input[type="range"] {
	font-size: 1.5rem;
	width: 16em;
}

.seek-bar input[type="range"] {
	color: #ef233c;
	--thumb-height: .8rem;
	--track-height: 2px;
	--track-color: rgba(0, 0, 0, 0.2);
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

.seek-bar input[type="range"].win10-thumb {
	color: #2b2d42;

	--thumb-height: 1.375em;
	--thumb-width: 0.5em;
	--clip-edges: 0.0125em;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #000;
	}

	html::before {
		background: radial-gradient(circle at center, #101112, #000);
	}

	.seek-bar input[type="range"] {
		color:var(--text-color);
		--track-color: rgba(255, 255, 255, 0.1);
	}

	.seek-bar input[type="range"].win10-thumb {
		color: #3a86ff;
	}
}
                                                                                                                                        
/* === range commons === */
.seek-bar input[type="range"] {
	position: relative;
	background: #fff0;
	overflow: hidden;
}

.seek-bar input[type="range"]:active {
	cursor: grabbing;
}

.seek-bar input[type="range"]:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
}

/* === WebKit specific styles === */
.seek-bar input[type="range"],
.seek-bar input[type="range"]::-webkit-slider-runnable-track,
.seek-bar input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

.seek-bar input[type="range"]::-webkit-slider-runnable-track,
.seek-bar input[type="range"]::-webkit-slider-thumb {
	position: relative;
}

.seek-bar input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

.seek-bar input[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

.seek-bar input[type="range"]:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

.seek-bar input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}

.seek-bar input[type="range"]:disabled::-webkit-slider-thumb {
	cursor: not-allowed;
}

 /* Seek bar CSS end------------------------------ */

.footer .master-play .vol {
  position: relative;
  width: 6.25rem;
  border-radius: 2px;
  margin-left: 3.12rem;
}

.footer .master-play .vol .fa-solid {
  position: absolute;
  color: #fff;
  font-size: 1.25rem;
  top: -10px;
  left: -1.87rem;
}
.footer .master-play .vol input {
  position: absolute;
  cursor: pointer;
}

.song-play {
  width: 10%;
  display: flex;
  align-items: center;
}
.footer .audio-control1 {
  width: 100%;
  display: flex;
  margin-right: -10%;
  flex-direction: column;
  align-items: center;
}
.footer .audio-icon {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.audio-control2 {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.audio-control2 img {
  margin-left: 10px;
}
div#connectDevice-icon {
  margin-left: 10px;
}
.slider-up {
  margin-left: 20%;
}

.vol input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background-color: red;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.vol input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}

.song-play{
  width: 10%;
  display:flex;
  align-items: center;
}
.footer .audio-control1{
  width: 100%; 
  display: flex;
  margin-right: -10%;
   flex-direction: column;
    align-items: center;
}
.footer .audio-icon{
  display: flex; 
  width: 100%; 
  align-items: center;
   justify-content: center;
}

.audio-control2{
  width: 30%; 
  display: flex;
   justify-content: space-around;
    align-items: center;
}
.audio-control2 img{
  margin-left:10px;
}
div#connectDevice-icon {
  margin-left: 10px;
}
.slider-up {
  margin-left: 20%;
}

 /* Media control styling end here */

/* Media Query Start for size 550px---------------- */
@media screen and (max-width: 550px) {
  body {
    font-family: "Poppins", "sans-serif";
    font-weight: 800;
  }
  
  html{
    font-size: 7px;
  }
   div#left-nav {
    align-items: center;
   }
img.header-logo {
    width: 3.4rem !important;
    height: 3.4rem !important;
    margin-left: .3rem;
    margin-right: 5px;
}
  .title h1{
    font-size: 1.2rem !important;
    margin-top: -2px;
    
}
   #search-bar input.search-input{
    width: 75%;
    height: 2.3rem;
    border-radius: 1.3rem;
    margin-top: -5px;
   }
   .search-icon {
    top: 3px !important;
}
   input::placeholder {
    font-size: .8rem;
  }
  .microphone {
    left: 65%;
    top: 5% !important;
    left: 66% !important;
}
   .subscription button{
    width:5rem;
    height: 1.5rem;
    font-size: .5rem;
   }
   button.btn{
    margin: 0;
   }
   .user{
    margin: 0;
   }
   div#right-nav {
    align-items: center;
    justify-content: center;
}
#right-nav{
  padding-left: 1.25rem;
  padding-top: 0;
 }

 #nav2{
  display:block;
  height: 3rem;
   }
   #nav2 #nav-menu{
    display: block;
    position:fixed;
    width: 100%;
    height: 25rem;
    background-color: #000;
    text-align: center;
    top: 7.9rem;
    left: -100%; 
    transition: all .5s;
   }
   #check:checked ~ #nav-menu{
    left: 0;
   }
   #nav2 #nav-menu li{
    display: block;
   }
   #nav2 #nav-menu li{
    text-transform: uppercase;
   }
   .check-btn{
    display: block;
   }
 .check-btn i{
  margin-top: .6rem;
}

#content-section{
  width: 100%;
  box-shadow: none;
 }
   .song-card{
     width: 33%;
   }

  #side-queue {
    height: auto;
    display: none;
  }
  #arrow {
    display: none;
  }
  #slider{
    margin-top: 6.2rem;
    
  }

  .item {
    width: 100% !important;
    height: 100% !important;
  }

  .item img {
    width: 100% !important;
  }

  /* side queue responsive CSS start------------------*/
  label[for="more"] {
    display: block;
}
#more:checked ~ #side-queue {
  display: block;
}

  #media-controls{
    height: 8rem;
  }

  .song-play {
    width: 50% !important;
  }

  .wave {
    display: none !important;
  }

  .footer .master-play img {

    height:5rem;
    width: 5rem;
  }
  
  .song-title div{
    font-size: 1.2rem;
    font-weight: 900;
  }
  .footer .master-play h5{
    line-height: 1.4rem;
    font-size: 1.2rem;
  }

  .audio-control1 {
    height: 62px;
    width: 80% !important;
  }

  .audio-icon {
    flex-grow: 1;
    display: flex !important;
  }

  .audio-icon div {
    margin: 0px 4px;
    color: white;
    font-size: 700;
  }
  .audio-control2{
    display: none;
  }

}

/* Media Query Start for size 950px---------------- */

@media screen and (max-width: 950px) {
  html {
    font-size: 10px;
  }
  body {
    font-family: "Poppins", "sans-serif";
    font-weight: 800;
  }
  #nav2{
    height: 3rem;
  }
  #side-queue {
    height: auto;
  }
  .search-icon {
    top: 8px;
    left: 4px;
  }
  .microphone{
    top:14%;
  }  
  #left-nav .title h1{
    font-size: 3rem;
}
#arrow {
  display: none;
}
#slider{
margin-top: 6.2rem;
}

main#carousel{
  width: 70vw!important;
}
.item {
  width: 100% !important;
  height: 100% !important;
}

.item img {
  width: 100% !important;
  height: 100% !important;

}

.song-play{
  width: 25%;
}
.footer .audio-control1{
  width: 50%;
}
.audio-control2{
  width: 25%;
}
.slider-up{
  margin: 0;
}
.footer .master-play .vol .fa-solid{
  top: -5px;
}
.vol {
  display: inline-block;
  width: 30px;
  position: fixed;
  /* margin-bottom: 6rem;  */
}

.vol input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background-color: red;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.vol input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}
}
