*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrap{
    display: flex;
    flex-direction: column;
}
.info-sec{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 40px;
    width: 70vw;
}
.bg-image img{
    height: 100%;
    width: 100%;
}
.info-sec .bg-image{
  
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.info-sec .info{
    position: relative;
    padding: 12px 20px 0;
    width: 40rem;
    display: flex;
    flex-direction: column;
    
}
.info-sec .artist-name{
    color:#000;
    order: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: proximanova-bold-webfont,Arial,sans-serif;
    line-height: 1.5;
}
.info-sec .sub-info p{
    color: #8e8e93!important;
    margin-bottom: .9rem;
    order: 0;
    font-size: .8rem;
    align-items: flex-start;
}
.info-sec .sort-bio {
    display: flex;
    margin-bottom: 1.25rem;
    flex-direction: column;
}
.info-sec .sort-bio p{
    color: #000000;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: .1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.info-sec .readmore{
    display: flex;
    align-items: center;
    font-family: proximanova-semibold-webfont,Arial,sans-serif;
    font-size: 14px;
    color: #e72c30;
    margin-top: 10px;
    cursor: pointer;
}
._d{
    order: 1;
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;
    margin-left: -3rem;
}
.info-sec .btn, .bttn{
    height: 2.4rem;
    display: flex;
    padding: 0 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 14px;
    font-family: proximanova-semibold-webfont,Arial,sans-serif;
    text-transform: capitalize; 
}

.btn-solid{
    color: rgba(255,255,255,0.9);
     background: linear-gradient(-45deg,#e72c30, #132450, #FF3D77,#e51d53);
     background-size: 600%;
     animation : anime 10s linear infinite;
}
    @keyframes anime{ 
   0%{
     background-position: 0% 50%;
   }
   50%{
     background-position: 100% 50%;
   }
   100%{
     background-position: 0% 50%;
  }
 }
button{
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    background-color: #edecec66;
    align-items: center;
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid;
}

.serial-number{
    width: 10%;
}
.track, .artist, .album{
 width: 25%;
}
.duration{
    width: 15%;
}

section{
    display: flex;
    width: 70%;
    position: relative;
    left: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s-No{
    width: 100%;
    text-align: right;
}
.track-wrapper{
width: 100%;
display:flex;
align-items: center;
}
.track-image{
    height: 100%;
    display: inline-block;
    width: 20%;
}
.track-image img{
    width: 2.8rem;
    height: 2.8rem;
    display: inline-block;
}

    #header li{
        font-size: 1.25rem;
        font-weight: 700;
    }

      span.heart, span.dot {
        display: flex;
        justify-content: center;
        align-items: center; /* Added property for horizontal centering */
      }
      
      span.heart i {
        margin-left: 35%;
      }
      
      span.dot {
        margin-left: 65%;
      }

.album{
    display: flex;
   
}
.album-name{
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.heart{
    width: 25%;
    float: right;
    
}

.menu{
  width: 25%;
  float: right;
}